.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto; 
    column-gap: 10px;
    row-gap: 15px;
    gap: 10px;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
    border: medium dashed green;
    padding: 10px;
}

.grid-item {
    width: 100%;
    height: 80px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.axie-part {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: green;
    color: wheat;
}

.control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-top: 10px;
}

button {
    font-size: 50px;
}